<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuqian.itax.tax.dao.TaxBillCredentialsRecordMapper">
    <resultMap type="com.yuqian.itax.tax.entity.TaxBillCredentialsRecordEntity" id="baseEntityMap">
			 
		<id column="id" property="id"/>
			<result column="company_tax_bill_id" property="companyTaxBillId"/>
			<result column="ein" property="ein"/>
			<result column="park_tax_bill_id" property="parkTaxBillId"/>
			<result column="batch_number" property="batchNumber"/>
			<result column="iit_voucher_pic" property="iitVoucherPic"/>
			<result column="vat_voucher_pic" property="vatVoucherPic"/>
			<result column="status" property="status"/>
			<result column="result_msg" property="resultMsg"/>
			<result column="add_time" property="addTime"/>
			<result column="add_user" property="addUser"/>
			<result column="update_time" property="updateTime"/>
			<result column="update_user" property="updateUser"/>
			<result column="remark" property="remark"/>
			<result column="ticket_voucher_pic" property="ticketVoucherPic"/>
    </resultMap>

    <sql id="Base_Columns">
		id, company_tax_bill_id, ein, park_tax_bill_id, batch_number, iit_voucher_pic, vat_voucher_pic, status, result_msg, add_time, add_user, update_time, update_user, remark,ticket_voucher_pic
    </sql>


	<resultMap type="com.yuqian.itax.tax.entity.vo.TaxBillCredentialsRecordVO" id="resultMsgVo">

		<result column="ein" property="ein"/>
		<result column="result_msg" property="resultMsg"/>
	</resultMap>
	<select id="queryTaxBillCredentialsRecordByStatus" resultMap="resultMsgVo">
		select ein,result_msg from t_e_tax_bill_credentials_record
		where status=#{status} and batch_number=(select max(batch_number) from t_e_tax_bill_credentials_record where park_tax_bill_id=#{parkTaxBillId} )
	</select>
</mapper>