<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuqian.itax.product.dao.ProductParkRelaMapper">
    <resultMap type="com.yuqian.itax.product.entity.ProductParkRelaEntity" id="baseEntityMap">
			 
		<id column="id" property="id"/>
			<result column="product_id" property="productId"/>
			<result column="park_id" property="parkId"/>
			<result column="add_time" property="addTime"/>
			<result column="add_user" property="addUser"/>
			<result column="update_time" property="updateTime"/>
			<result column="update_user" property="updateUser"/>
			<result column="remark" property="remark"/>
			<result column="company_type" property="companyType"/>
			<result column="process_mark" property="processMark"/>
    </resultMap>

    <sql id="Base_Columns">
		id, product_id, park_id, add_time, add_user, update_time, update_user, remark
    </sql>
	<insert id="addBatch">
		insert into t_r_product_park(product_id, park_id, add_time, add_user)
		values
		<foreach collection="parkIds" item="item" separator=",">
			(#{productId}, #{item}, #{addTime}, #{addUser})
		</foreach>
	</insert>
	<delete id="deleteByProductId">
		delete from t_r_product_park where product_id = #{productId}
	</delete>
</mapper>