<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuqian.itax.error.dao.ErrorInfoMapper">
    <resultMap type="com.yuqian.itax.error.entity.ErrorInfoEntity" id="baseEntityMap">
			 
		<id column="id" property="id"/>
			<result column="error_code" property="errorCode"/>
			<result column="client_type" property="clientType"/>
			<result column="model_name" property="modelName"/>
			<result column="class_name" property="className"/>
			<result column="error_content" property="errorContent"/>
			<result column="error_params_info" property="errorParamsInfo"/>
			<result column="oem_code" property="oemCode"/>
			<result column="add_time" property="addTime"/>
			<result column="add_user" property="addUser"/>
			<result column="update_time" property="updateTime"/>
			<result column="update_user" property="updateUser"/>
			<result column="remark" property="remark"/>
    </resultMap>

    <sql id="Base_Columns">
		id, error_code, client_type, model_name, class_name, error_content, error_params_info, oem_code, add_time, add_user, update_time, update_user, remark
    </sql>
	<select id="listErrorInfo" resultMap="baseEntityMap" parameterType="com.yuqian.itax.error.entity.query.ErrorInfoQuery" >
		SELECT
		<include refid="Base_Columns"/>
		FROM
		sys_e_error_info
		<where>
			<if test="errorCode != null and errorCode.trim() != ''">
				and error_code = #{errorCode}
			</if>
			<if test="clientType != null and clientType > 0 ">
				and client_type = #{clientType}
			</if>
			<if test="likeModelName != null and likeModelName.trim() != ''">
				and model_name like concat('%',#{likeModelName},'%')
			</if>
			<if test="likeClassName != null and likeClassName.trim() != ''">
				and class_name like concat('%',#{likeClassName},'%')
			</if>
			<if test="oemCode != null and oemCode.trim() != ''">
				and oem_code = #{oemCode}
			</if>
			<if test="addTimeBeg != null">
				and add_time >= #{addTimeBeg}
			</if>
			<if test="addTimeEnd != null">
				and add_time &lt;= #{addTimeEnd}
			</if>
		</where>
		order by add_time desc
	</select>
</mapper>