<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuqian.itax.user.dao.UserRelaMapper">
    <resultMap type="com.yuqian.itax.user.entity.UserRelaEntity" id="baseEntityMap">
			 
		<id column="id" property="id"/>
			<result column="user_id" property="userId"/>
			<result column="user_class" property="userClass"/>
			<result column="user_tree" property="userTree"/>
			<result column="parent_user_id" property="parentUserId"/>
			<result column="parent_user_type" property="parentUserType"/>
			<result column="add_time" property="addTime"/>
			<result column="add_user" property="addUser"/>
			<result column="update_time" property="updateTime"/>
			<result column="update_user" property="updateUser"/>
			<result column="remark" property="remark"/>
    </resultMap>

    <sql id="Base_Columns">
		id, user_id, user_class, user_tree, parent_user_id, parent_user_type, add_time, add_user, update_time, update_user, remark
    </sql>
	<select id="queryUserRelaEntityByUserId" resultMap="baseEntityMap">
		select <include refid="Base_Columns"/> from t_e_user_rela
		where user_id=#{userId} and user_class=#{userClass}
	</select>

	<select id="queryUserRelaEntity" resultMap="baseEntityMap">
		select <include refid="Base_Columns"/> from t_e_user_rela
		where user_id = #{userId} and user_class = #{userClass}
		and user_tree like concat(#{userTree},'%')
	</select>

	<select id="queryUserRelaEntityByUserTree" resultMap="baseEntityMap">
		select <include refid="Base_Columns"/> from t_e_user_rela
		where
		user_tree like concat(#{userTree},'%')
	</select>

	<update id="updateUserRela">
		update t_e_user_rela set user_tree= REPLACE(user_tree,'/0/',concat('/',#{id},'/'))
		where
		user_tree like concat(#{userTree},'%')
	</update>

	<select id="querySystemUserRelaEntity" resultMap="baseEntityMap">
		select <include refid="Base_Columns"/> from t_e_user_rela
		where user_id = #{userId} and user_class != #{notUserClass}
		and user_tree like concat(#{userTree},'%')
	</select>
</mapper>
