<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuqian.itax.user.dao.MemberProfitsRulesMapper">
    <resultMap type="com.yuqian.itax.user.entity.MemberProfitsRulesEntity" id="baseEntityMap">
			 
		<id column="id" property="id"/>
			<result column="oem_code" property="oemCode"/>
			<result column="user_level" property="userLevel"/>
			<result column="membership_fee" property="membershipFee"/>
			<result column="profits_entrust_fee_rate" property="profitsEntrustFeeRate"/>
			<result column="profits_peers_two_entrust_fee_rate" property="profitsPeersTwoEntrustFeeRate"/>
			<result column="profits_peers_two_membership_fee" property="profitsPeersTwoMembershipFee"/>
			<result column="service_fee_rate" property="serviceFeeRate"/>
			<result column="profits_peers_two_service_fee_rate" property="profitsPeersTwoServiceFeeRate"/>
			<result column="consumption_discount" property="consumptionDiscount"/>
			<result column="status" property="status"/>
			<result column="add_time" property="addTime"/>
			<result column="add_user" property="addUser"/>
			<result column="update_time" property="updateTime"/>
			<result column="update_user" property="updateUser"/>
			<result column="remark" property="remark"/>
    </resultMap>

    <sql id="Base_Columns">
		id, oem_code, user_level, membership_fee, profits_entrust_fee_rate, profits_peers_two_entrust_fee_rate, profits_peers_two_membership_fee, service_fee_rate,
		profits_peers_two_service_fee_rate, consumption_discount, STATUS, add_time, add_user, update_time, update_user, remark
	</sql>
</mapper>